
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to 'Click Here to Generate a New Super Hero', root_path %></h3>
  </div>
  <div class="panel-body">
    <%= @superhero_name %></br>
    <%= @heropower %>
  </div>
    <div class="panel-footer"><%= link_to 'Creat a Whole Super Hero Team', home_team_path %></div>
</div>
